@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Reseteo básico */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Jost", sans-serif;
}

body {
	margin: 0 auto;
	max-width: 100%;
	font-family: 'Lato', sans-serif;
	color: #333;
	background-color: #ffffff;
}


